<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Záznamník úkolů</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
    <main id="app">
        <h1>To-do app</h1>
        <div class="container">
            <div id="formContainer">
                <h3>Add task</h3>
                <form @submit.prevent="addTask">
                    <label for="taskName">Name</label><br>
                    <input v-model="taskName" type="text" id="taskName" name="ukol" required autofocus><br>
                    <label for="taskType">Task type</label>
                    <select id="taskType" v-model="taskType" name="typ" required>
                        <option value="Programming">Programming</option>
                        <option value="Work">Work</option>
                        <option value="Meeting">Meeting</option>
                        <option value="Personal">Personal</option>
                        <option value="Other">Other</option>
                    </select><br>
                    <p>Date and time</p>
                    <label for="day"></label>
                    <input type="date" id="day" v-model="day" name="datum" required>
                    <label for="fromTime">from</label>
                    <input type="time" id="fromTime" v-model="fromTime" name="od hod" required>
                    <label for="toTime">to</label>
                    <input type="time" id="toTime" v-model="toTime" name="do hod" required><br>
                    <button type="submit">Save</button>
                </form>
            </div>
            <div id="listContainer">
                <table id="taskTable">
                    <thead>
                        <td @click="sortTable('text')"class="clickable"
                        :class="{ 'active' : currentSort === 'text'}">Task name
                        </td>
                        <td @click="sortTable('type')" class="clickable"
                        :class="{ 'active' : currentSort === 'type'}">Type 
                        </td>
                        <td @click="sortTable('date')" class="clickable"
                        :class="{ 'active' : currentSort === 'date'}">Date
                        </td>
                        <td>Start</td>
                        <td>End</td>
                    </thead>
                    <tr v-for="task in sortedTasks">
                        <td>{{task.text}}<span @click="removeTask(task)"
                            class="deleteBtn">&#x2612</span>
                        </td>
                        <td>{{task.type}}</td>
                        <td>{{task.date}}</td>
                        <td>{{task.fromT}}</td>
                        <td>{{task.toT}}</td>
                    </tr>
                </table>

                <div id="navButtonsRow">
                    <p>
                        <button v-if="currentPage !== 1" @click="prevPage">
                            previous page</button>
                        <button v-if="currentPage !== lastPage" @click="nextPage">
                            next page</button>
                    </p><span id="pagination">page {{ currentPage }}</span>
                </div>
            </div>
    </main>
    <script src="app.js"></script>
</body>

</html>